.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48,
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 900px;
    width: 100%;
}


.avatar{
    border-radius: 50px;
}

.user-basic-info{
    text-align: center;
    margin-top: 15px;
    padding-bottom: 5px;

}

#sidebar{
    width: 25%;
    height: 840px;
    border: 1px solid #e1e1e1;
    display: inline-block;
}

#user-container{
    width: 73%;
    height: 840px;
    border: 1px solid #e1e1e1;
}

.material-icons{
    font-size: 20px;
    color: #10a315;
    margin-right: 10px;
}


li{
    list-style: none;
}

#sidebar>div{
    border-bottom: 1px solid #e0e0e0;
}

.profile-tabs{
    border-top: 1px solid #e0e0e0;
}



.user-status{
    display: flex;
    flex-direction: column;
}

#zpoints{
    color: inherit;
    width: 26px;
    height: 24px;
}

.balance-amount-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0 0 1px 5px;
    flex-wrap: wrap;
}

.balance-amount-container a{
    color: #10a315;
    font-weight: 700;
    font-size: 16px;
}

.install-app{
    color: #a35c00;
    font-size: 14px;
    font-weight: 700;
    font-family: sans-serif;
}

.credit-text{
    font-size: 16px;
    font-weight: 400px;
}

.user-status ul{
    width: 268px;
    height: 120px;
    line-height: 1px;
    margin-top: 1px;
}

#paytm{
    color: inherit;
    width: 26px;
    height: 24px;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.profile-tabs>li{
    font-size: 16px;
    font-weight: 700px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #e0e0e0;
    
}

.content-heading{
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
    margin: 0;
}

hr{
    width: 95%;
}

#user-container>div{
    margin-left: 20px;
}

#account-details{
    font-size: 18px;
    font-weight: 400;
}


.user_content p{
    font-size: 14px;
    font-weight: 400;   
}

#pno{
    border: 1px solid black;
    width: 20%;
    border-radius: 5px;
}

.user_content>div{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#user-name{
    display: flex;
    gap: 50px;
}

#user-gender{
    display: flex;
    gap: 50px;
}

select{
    width:200px;
}

.user_content-2 p{
    font-size: 14px;
    font-weight: 400;   
}

.user_content-2{
    display: flex;
    justify-content: space-around;
}

#updatebtn{
    background-color: transparent;
    width: 157px;
    height: 38px;
    margin-top: 40px;
    border: 0.5px solid black;
    margin-left: 330px;
    
}
