*{
    margin: 0px;
    padding: 0px;
    font-family: "IBM Plex Sans";
}
.navbar{
    
    padding: 0px 16px;
    min-height: 56px;
    font-size: 24px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: black;
    color: white;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 20%);
}

.navbar>a>img{
    width: 23px;
 background-color: white;
 margin-right: 10px;

}
#name{
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #fff;

}
#main{
    display: grid;
    grid-template-columns: repeat(2,38%);
    gap: 30px;
    justify-content: center;  
}
.head{
    font-size: 22px;
    font-weight: 600;
    line-height: 18px;
    color: #1f1f1f;
    padding: 20px 0 10px;
    margin-bottom: 10px;
}
#div1{
    margin: auto;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 1px 2px #666;
}
#title{
    background-color: rgb(245,245,245);
  
    /* margin-top: 30px; */
    height: 100px;
    padding-left: 20px;
    
}
#names{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.16px;
    color: #1f1f1f;
    margin-bottom: 10px;
    padding-top: 10px;
}
.autopetrol{ font-size: 14px;
line-height: 16px;
font-weight: 400;
letter-spacing: 0.4px;
color: #666;
}
#names+div{
display: flex;
gap: 20px;

/* border: 1px solid; */
}
#names+div>div{
    display: flex;
    gap: 10px;
}
#names+div>div>img{
  width:20px
}
#image{
    position: relative;
    left: 265px;
    top: -65px;
    width: 200px;
    background-color: white;
}
#kms{
    display: flex;
    gap: 10px;
    align-items: center; 
    margin: 15px 20px;
}
#kms>img{
    width:24px
}
#star{
    display: flex;
    gap: 10px;
    align-items: center; 
    margin: 15px 20px;
}
#star>img{
    width:24px
}
#star+div{
    font-size: 13.5px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: #5160c2;
    margin: 25px 20px 20px 20px;
    background-color: rgb(240,244,255);
    padding: 10px 15px;
    width: 85%;
}
#startDate{
    display: flex;
    gap: 10px;
    margin: 20px 0px 20px 20px;
}
#startDate>img{
    width: 20px;
    /* background-color: #10a310; */
}
#endDate{
    display: flex;
    gap: 10px;
    margin-left: 20px;
}
#endDate>img{
    width: 20px;
}



/* display price------ */
#display_price{
    margin: auto;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 1px 2px #666;
    padding: 20px; 
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
ul li{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.24px;
    /* color: blue; */
}
.fare>li{
    font-weight: bold; 
    color: black;
    font-size: 20px;
}
#display_price>div{
    border-bottom: 1px solid rgb(223, 213, 213);
    margin: 15px 0px 25px 0px;
}
span{
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: #a8a8a8;
}
button{
    background-color: rgb(16,163,16); 
    border: none;
    border-radius: 4px;
    padding: 16px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
   cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.8px;
    color: #fff;
    margin: 0 auto;
    margin-top: 20px;
}