
*{
    margin: 0px;
    padding: 0px;
    font-family: "IBM Plex Sans";
}
.navbar{
    background-color: #f5f5f5;
    padding: 0px 16px;
    min-height: 56px;
    font-size: 24px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
.afterscroll{
    background-color: black;
    color: white;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 20%);
}
.navbar>img{
    width: 23px;
 background-color: white;

}
#package{
    font-size: 16px;
    font-weight: 600;
    
    letter-spacing: 0.24px;
    color: #1f1f1f;
    padding: 32px 16px 0px;
    /* border: 1px solid royalblue; */
}

#div2{
    width: 600px;
    display: grid;
    gap: 10px;
    margin: auto;
    justify-content:first baseline;
    /* border: 1px solid royalblue; */
    padding: 0px 20px;
}
.input1{
    width: 15px;
    height: 15px;
    background: #10a310;
    border-radius: 50%;
    top: 50%;
    left: 50%;
}
.standard{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid royalblue; */
}
.standard-sub{
    display: flex;
    gap: 10px;
    align-items: center;
}
.standard-sub>img{
    width: 35px;
    height: 35px;
}
#damage{
    background-color: rgb(245,245,245);
    padding: 20px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
}
span{
    font-size: 15px;
}

#div3{
    width: 600px;
    display: grid;
    gap: 10px;
    margin: auto;
    margin-top: 20px;
    justify-content:first baseline;
    /* border: 1px solid royalblue; */
    padding: 0px 20px;
}
input[type="checkbox"]:checked{
    background: #10a310;
}






















#checkout{
    background: #fff;
    padding: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%), 0 5px 5px -3px rgb(0 0 0 / 20%);
    /* display: none; */
}
#coupon{
    display: flex;
    width: 600px;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 10px;
}
#price{
 
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}
button{
   
    background-color: rgb(16,163,16); 
    border: none;
    border-radius: 4px;
    padding: 16px 20px;
    width: 600px;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
   
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.8px;
    color: #fff;
    margin: 0 auto;
}
#price+div>a{
  text-decoration: none;
  color: black;
}
#price+div{
 display: flex;
 align-items: center;
 gap: 10px;
}
#logo{
width: 20px;
}