

#loginuser{
    /* border: 1px solid black; */
    width: 27%;
  
    /* text-align:start; */
    /* height: 100vh; */
    /* margin-bottom:50px; */
    margin: auto;
    margin-top: 100px;
    
}

.mobile{
    display: flex;
    align-items: center;
    /* border-top: 1px solid rgba(0, 0, 0, 0.263); */
    width: 100%;
    padding-left: 15px;
}



.password{
    border-top: 1px solid rgba(0, 0, 0, 0.263);
    border-bottom: 1px solid rgba(0, 0, 0, 0.263);
    width: 100%;
    padding: 5px 0;
}



#password{
    padding:10px;
    border: none;
    width: 100%;
}

#mobileNumber{
    padding:10px;
    border: none;
    width: 100%;
}

.mobile>img{
    width: 20px;
    padding: 10px 5px;
    /* border: 1px solid black; */
}
.continue{
    margin-top:100px;
    /* border: 1px solid black; */
    text-align: center;

}
.continue>button{
    width: 100%;
    padding: 10px 30px;
    border: none;
    border-radius:4px;
    color: white;
    text-transform: capitalize;
    /* background-color:#10a310 */
}
.continue>button:hover{
      background-color:#10a310
}
.arrow>p>i{
    border: 1px solid black

}
.arrow>p>i>a{
    background-color:red
}