*{
    margin: 0px;
    padding: 0px;
}
#navbar{
    width: 100%;
    height: 80px;
    border: 1px solid;
}

/* container */

#container{
    width: 100%;
    height: 800px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
#filter{
    width: 23%;
    height: 550px;
    border: 1px solid rgb(184, 183, 183);
    background-color: white;
    padding: 30px;
    margin-left: 40px;
    border-radius: 5px;
}
.fil{
    display: flex;
    width: 90%;
    height: 50px;
    margin: auto;
    margin-bottom: 30px;
    border: 1px solid rgb(184, 183, 183);
    border-radius: 5px;
    background-color: whitesmoke;
    justify-content: space-around;
    padding: 3px;
}
.set{
    border: 1px solid transparent;
    width: 90%;
    height: 60%;
    margin: auto;
    text-align: center;
    font-size: 17px;
    /* margin: 4px; */
    padding-top: 15px;
    /* background-color: aqua; */
    border-radius: 5px;
}
#seat2{
    border-left: 1px solid rgb(184, 183, 183);
}
#type2{
    border-left: 1px solid rgb(184, 183, 183);
}
#type3{
    border-left: 1px solid rgb(184, 183, 183);
}
#trans2{
    border-left: 1px solid rgb(184, 183, 183);
}
#del2{
    border-left: 1px solid rgb(184, 183, 183);
}
.set:hover{
    background-color: aqua;
}
#filter>h3{
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: 550;
}
#bl{
    font-size: 12px;
    background-color: rgb(227, 202, 251);
    padding-left: 10px;
    padding-top: 10px;
    color: rgb(72, 72, 146);
}




/* box */
#box{
    width: 65%;
    height: 800px;
    border: 1px solid transparent;
    margin-right: 60px;
}
#box1{
    width: 100%;
    height: 8%;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;
}
.box11{
    width: 45%;
    height: 80%;
    border: 1px solid;
}


/* box2 */
#box2{
    border: 3px solid red;
    width: 100%;
    height: 90%;
    /* scroll-behavior: smooth; */
}
.divs{
    width: 100%;
    height: 100px;
    border: 2px solid green;
}



